user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 1024;
    # other event-related settings here
}

http {
    # Configuration for HTTP
    server {
        listen 80;
        server_name 192.168.104.35;
        return 301 https://$host$request_uri; # Redirect all HTTP requests to HTTPS
        root /var/www/html;
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }
    }

    # Configuration for HTTPS
    server {
        listen 443 ssl;
        server_name 192.168.104.35;
        root /var/www/html;
        index index.html;
        ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;
        ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;

        location / {
            try_files $uri $uri/ =404;
        }
    }
}

